@tailwind base;
@tailwind components;
@tailwind utilities;


img.settingIcon{
    transition: all 1s ease-out;
}

img.alarmIcon{
    transition: all 0.2s ;
}
input.searchInput{
    transition: all 0.2s ;
}
img.userPortrait{
    transition: all 0.7s ease-in-out;
}
img.settingIcon:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

img.userPortrait:hover {
    -ms-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

img.alarmIcon:hover {
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.columnDiv{
    min-height: calc(100% - 64px);
    background-color: #4e7bf8;
    /*background: #a9bbd9;*/
}
.columns{
    background-color: #2962ff;
}
.nodrag{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}