@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

img.settingIcon{
    transition: all 1s ease-out;
}

img.alarmIcon{
    transition: all 0.2s ;
}
input.searchInput{
    transition: all 0.2s ;
}
img.userPortrait{
    transition: all 0.7s ease-in-out;
}
img.settingIcon:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

img.userPortrait:hover {
    -ms-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

img.alarmIcon:hover {
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.columnDiv{
    min-height: calc(100% - 64px);
    background-color: #4e7bf8;
    /*background: #a9bbd9;*/
}
.columns{
    background-color: #2962ff;
    min-width: 280px;
    min-height: 600px;
}
.nodrag{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.userMenu{
    background: #ffffff;
}


@keyframes vibration {
from {
        transform: rotate(1deg);
    }
to {
        transform: rotate(-1deg);
    }
}
.box.vibration {
    animation: vibration 0.1s;
}
